
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/index.css")
		title Lista de invitados
	body
		h1 Lista de Invitados
		section.hero
			input(type="number",  name="amountInvited",   placeholder="Cantidad de invitado")#number
			p.errornumber
			form(action="")#form
				input(type="text",  name="username",   placeholder="Nombre del invitado")#name
				p.erroramount
				button(type="submit")#btn invitar
		section.invitado#invitado
			ol
				#prueba 
					p#invitado__name Nombre
		script(src="/index.js") 